html, body {
    height: 100%;
    font-family: 'Montserrat';
}
.construction {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
    font-size: 1.5rem;
}